{% extends "accounts/base.html" %}
{% load i18n %}

{% block title %}
  {% translate "Создание продукта" %}
{% endblock title %}

{% block body %}
<div class="shopapp__title-container">
  <div class="shopapp__button-container">
    <h1 class="h1__title">Создание нового продукта</h1>
  </div>
</div>
<form method='post' enctype="multipart/form-data">
  {% csrf_token %}
  <div class="product__base-container">
    <div class="product__create-container">
      {{ form.as_p }}
    </div>
    <div class="product__actions-container">
      <a href="{% url 'shopapp:products_list' %}" class="light-button">Список продуктов</a>
      <button type='submit' class="color-button">Создать</button>
    </div>
  </div>
</form>
{% endblock body %}